{% include "header.html" %}

<div class="container mt-4">
    <h2 class="mb-4">📋 Job & Internship Application Tracker Dashboard</h2>
    
    <div class="table-responsive">
        <table class="table table-striped tracker-table">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Application Status</th>
                    <th>Location</th>
                    <th>Application Date</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>️<a href="{{ url_for('edit_job', job_id=job.id) }}" class="text-decoration-none">✏️</a></td>
                    <td>{{ job.job_title }}</td>
                    <td>{{ job.company }}</td>
                    <td>
                        <span class="status-badge {{ job.status|lower }}">
                            {{ job.status }}
                        </span>
                    </td>
                    <td>{{ job.location }}</td>
                     <td>{{ job.date }}</td>
                    <td><a href="{{ job.link }}" target="_blank">🔗 Link</a></td>
                    <td>
                    <a href="{{ url_for('delete_job', job_id=job.id) }}" class="text-decoration-none text-secondary">✘</a>
                    </td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="{{ url_for('add_application') }}">Add Job Application</a>
</div>

{% include "footer.html" %}